<h1>These movies are recommended for you:</h1>

<div class="row mt-5">
    <!-- <ng-container *ngFor="let movie of filteredByNameMovies | paginate: { itemsPerPage: 15, currentPage: p } ; let i = index"> -->
      <ng-container *ngFor="let r of recommendations; let i = index">
      <div class="col mt-5">
        <div class="card" style="width: 15rem;">
          <img src="http://127.0.0.1:8887/{{r.movie_logo}}" class="card-img-top" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{r.name}}</h5>
            <p class="card-text">{{r.genre}}</p>
            <a [routerLink]="['/movies/', r.id]" class="btn btn-outline-dark">View more</a>
          </div>
        </div>
      </div>
      <div *ngIf="(i + 1) % 3 === 0" class="w-100"> </div>
    </ng-container>
  </div> 
